@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

body{
    background-color:#8FBCBC;
    font-family: Inconsolata, sans-serif;
}

.sidebar{
 background-color: #BC8F8F;
 width: 300px;
 position: fixed;
 top:0;
 left:0;
 z-index:10;
 opacity: 1;
 height: 100%;
}
.sidebar .nav{
    margin-top: 100px;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#home{
    display: block;
    padding: 0px 30px;
    opacity: 1;
    margin-top: 40px;
}

.sidebar .nav li {
    margin-bottom: 20px;
    display:block;
}

.sidebar .nav li a {
    color:darkolivegreen;
    font-weight: 700;
    font-size: 20px;
    display: block;
    padding: 5px 15px;
    max-width: 50%;
    border-radius: 8px;
    background-color:#8FBCBC;
}

.sidebar .nav li a:hover{
    background-color: rgb(234, 190, 136);
}

.sidebar .nav li a.icon{
    margin-right: 55px;
    padding: 5px 15px;
}

#home .container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
#home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
    text-align:justify;
    margin-right: 20px;
}

#home .home-info .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    
}
#home .home-img img{
    margin: auto;
    border-radius: 10px;
    height: 400px; 
   
}
#home .container .row{
    display: flex;
    flex-wrap:wrap;
    position:relative;
    margin: 15px 0;
}

.home-info h3.welcome {
    font-size: 28px;
    margin: 30px 0;
}

.home-info h3.welcome span{
   font-family: Courier, monospace; 
   font-size: 30px;
   font-weight: 700px;
   color: darkolivegreen;

}

.home-info h3.profession1 {
    font-size: 25px;
    margin: 15px 0;
}
.home-info .type{
   color: darkolivegreen; 
}
.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: rgb(13, 12, 12);
}
.findme{
   font-size: 18px;
    font-weight: 500px;
    padding: 12px 35px;
    color: azure;
    border-radius: 40px;
    display: inline-block;
    background: darkolivegreen;
    white-space: nowrap;
    transition: all 0.3s ease;
    border: none;
}
.findme:hover{
    transform: scale(1.05);
}
.main{
   padding-left: 300px;

}


.title{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    margin-bottom: 50px;
}
.title h2{
    font-size: 42px;
    color: darkolivegreen;
    font-weight: 700;
    position: relative;
}

.title h2::before{
    content:'';
    height: 4px;
    width: 70px;
    background-color: rgb(234, 190, 136);
    position: absolute;
    top: 100%;
    left:0;

}
.title h2::after{
    content:'';
    height: 4px;
    width: 50px;
    background-color: rgb(234, 190, 136);
    position: absolute;
    top: 100%;
    left:0;
    margin-top: 8px;

}

/* ABout */
#about{
    margin-top: 60px;
    
}
#about .about-info{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
   
}

#about .about-info .about-text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    
}
#about .about-info .about-text h3{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 700;
    color: black;
}
#about .about-info .about-text h3 span{
    color: darkolivegreen;
    font-size: 30px;
}
#about .about-info .about-text p {
    font-size: 20px;
    line-height: 25px;
    color: black;
}
#about .row .personal-info{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
    padding-left: 15px;
}
#about .row .personal-info p{
    font-weight: 600;
    font-size: 20px;
    color: black;
}
#about .row .personal-info p span{
    font-weight: 400;
    font-size: 24px;
    color: darkolivegreen;
    margin-left: 4px;
}

#about .row #skills{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;

}
.buttons{
    padding-left: 15px;
    margin-top: 30px;
}
.buttons .findme{
   margin-right: 15px;
   margin-top: 10px; 
}
.skill-item-mining{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 0px; 
    padding-left: 15px;
    float: left;
    
}
.skill-item-mining h4{
    font-size: 25px;
    font-weight: 700;
    font-size: 25px;
    color: darkolivegreen;
}
.skill-item-mining h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
    
}
.skill-item-sd{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 0px; 
    padding-left: 15px;
    display: block;
    float: right;
}
.skill-item-sd h4{
    font-size: 25px;
    font-weight: 700;
    font-size: 25px;
    color: darkolivegreen;
}
.skill-item-sd h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
   
}

/* CONTACT*/
#contact-sect{
    margin-top: 32%;
    max-width: 100%;
}
.contact-title {
    font-size: 25px;
    margin-bottom: 20px;
    padding-left: 15px;
}
.contact-sub {
    font-size: 18px;
    padding-left: 15px;
}
.items{
    display: inline-flex;

}

.item2{
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 18px;
}
.item1{
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 18px;
}
.item3{
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 18px;
}
@media (max-width: 1199px) {
    .sidebar{
        left: -300px;
    }
    .main{
        padding-left: 0;
    }
  }
  .mysocials{
    display: inline-flex;
  }
  .item4{
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .item5{
    margin-left: 10px;
    margin-bottom: 10px;
  }
    